[submodule "home/.zsh.d/zsh-syntax-highlighting"]
	path = home/.zsh.d/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "home/.zsh.d/zsh-history-substring-search"]
	path = home/.zsh.d/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
