[submodule "home/.zsh.d/zsh-syntax-highlighting"]
	path = home/.zsh.d/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "home/.zsh.d/zsh-history-substring-search"]
	path = home/.zsh.d/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-commentary"]
	path = home/.vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/vim-powerline"]
	path = home/.vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "home/.vim/bundle/vim-qargs"]
	path = home/.vim/bundle/vim-qargs
	url = git://github.com/henrik/vim-qargs.git
[submodule "home/.vim/bundle/vim-markdown-preview"]
	path = home/.vim/bundle/vim-markdown-preview
	url = git://github.com/nelstrom/vim-markdown-preview.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
