[user]
  name = Joel Chippindale
  email = joel@joelchippindale.com
[core]
  excludesfile = ~/.gitignore
  editor = $(which vim)
[alias]
  hist = log --pretty=format:\"%h %ad | %s%d\" --graph --date=short
  fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
	unstage = reset --
  upstream = push -u origin HEAD
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[merge]
  tool = opendiff
  conflictstyle = diff3
  ff = only
[color "interactive"]
  prompt = magenta
[push]
  default = simple
[github]
  user = mocoso
[branch]
  autosetuprebase = always
[rebase]
	autosquash = true
[commit]
  verbose = true
